<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheScrum</title>
</head>
    <body>
        <form>
            <h3>{{ site_name }}</h3>
            
            <p>Hello {{ first_name }}!</p>
            
            {% comment %} <p> Welcome to TheScrum App</p>
            
            <p>Please use this OTP to activate your account: {{ otp }} </p>        
            <p>This Otp will be Expired in 1min</p>         {% endcomment %}

            <p> {{ message }}
        </form>
    

    <body>
    </html>
